<h1>Jobs#show</h1>

<div class="nav2">
     <div class="container2">
       <ul>
         <li>Description: <%= @job.description %></li>
         <li>Origin: <%= @job.origin %></li>
         <li>Destination: <%= @job.destination %></li>
         <li>Cost: <%= @job.cost %></li>
         <li>Amount of containers: <%= @job.amount %></li>
       </ul>
       <h2>Select a boat for job</h2>s
        <% @boats.each do |boat| %>
        <div class = "inline"><a href="/boats/<%= boat.id %>"><%= boat.name %></a></div>
        <% end %>
<br>
<div class="spacer">

</div>

       <%= link_to 'Edit', edit_boat_path %>
       <%= link_to 'New Job', new_job_path %>

       <%= link_to 'Destroy', boat_path, method: :delete, data: {confirm: 'are you really sure you want to delete this amazing Boat??'} %>


     </div>
   </div>
