<h1>Edit boat</h1>
<%= form_with model: @boat do |f| %>
<%= hidden_field_tag :user_id %>
<%= f.label :name %>:
<%= f.text_field :name %>
<br>
<%= f.label :location %>:
<%= select(:boat, :location, [['New York'], ['Boston'], ['Los Angeles'], ['Shanghai'], ['Singapore'], ['Manila'], ['Seattle'], ['Vancouver'], ['Antwerp'], ['Hamburg']
  ]) %>
  <br>

<%= f.label :containers %>:
<%= f.text_field :amount %>
<br>
<b>Picture of boat:</b> <%= f.file_field :avatar %><br>
<%= f.submit %>
<% end %>
