<h1>Edit this boat's information</h1>



<%= form_with model: @boat do |f| %>
<%= hidden_field_tag :user_id %>
<%= f.label :name  {id: label}%>:
<%= f.text_field :name %>
<br>
<%= f.label :location %>:
<%= select(:boat, :location, [['New York', 'New York'], ['Boston', 'Boston'], ['Los Angeles', 'Los Angeles'], ['Shanghai', 'Shanghai'], ['Singapore', 'Singapore'], ['Manila', 'Manila'], ['Seattle', 'Seattle'], ['Vancouver', 'Vancouver'], ['Antwerp', 'Antwerp'], ['Hamburg', 'Hamburg']
  ]) %>
  <br>

<%= f.label :containers %>:
<%= f.text_field :amount %>
<br>
<b>Picture of boat:</b> <%= f.file_field :avatar %><br>
<%= f.submit %>
<% end %>
 
