<h1>THIS BOAT IS:</h1>

<div class="nav2">
     <div class="container2">
       <ul>
         <li><%= image_tag @boat.avatar.url(:medium) %></li>
         <li><%= @boat.name %></li>
         <li><%= @boat.location %></li>
         <li><%= @boat.amount %></li>
       </ul>
<br>

       <%= link_to 'Edit', edit_boat_path %>
       <%= link_to 'Destroy', boat_path, method: :delete, data: {confirm: 'are you really sure you want to delete this amazing Boat??'} %>


     </div>
   </div>
