<!DOCTYPE html>
<html>
  <head>
    <title>NinetoFive</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if !user_signed_in? %>
    <%= link_to 'Sign in', new_user_session_path, {id: "signin" } %>
    <%= link_to 'Sign up', new_user_registration_path, {id: "signup"} %>
    <% end %>
    <% if user_signed_in? %>
    <%= link_to 'Boats', root_path, {id: "boat-link"} %>
    <%= link_to 'Log out', destroy_user_session_path, {id: "logout", method: :delete, data: {confirm: "Are you sure you want to log out?"}} %>
    <% end %>

    </nav>
    <br>
    <br>

    <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
